@import "../sass/adaptation/media"
@import "../sass/base/mixins"
@import "../sass/base/variables"
@import "../sass/base/fonts"
@import "../sass/webpages/general"
@import "../sass/blocks/promo"
@import "../sass/blocks/header"
@import "../sass/blocks/buttons"
@import "../sass/blocks/advantages"
@import "../sass/blocks/consultation"
@import "../sass/blocks/title"
@import "../sass/blocks/forms"

*
	font-family: 'Museo_Sans_Cyrl', sans-serif
	box-sizing: border-box
	margin: 0
	padding: 0

