.advantages
	min-height: 480px
	padding: 70px 0 95px 0
	&__wrapper
		display: flex
		flex-direction: column
	&__header
		color: #0d0d0d
		font-size: 30px
		font-weight: 700
		text-align: center
		text-transform: uppercase
	&__icons
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 65px
	&__icon
		display: flex
		flex-direction: column
		align-items: center
		width: 270px
	img
		width: 70px
		height: 70px
		display: block
		margin: 0 auto
		margin-bottom: 38px
	&__name
		color: #0d0d0d
		font-size: 18px
		font-weight: 700
		text-align: center
	&__descr
		color: #0d0d0d
		font-size: 14px
		font-weight: 300
		text-align: center
		margin-top: 25px
	&__link
		color: $main_color
		text-decoration: underline
		&:hover
			color: $main_color

@media (max-width: 991px)
	.advantages
		padding: 50px 0 50px 0
		&__icon
			width: 203px

@media (max-width: 767px)
	.advantages
		&__icons
			flex-direction: column
			justify-content: space-between
			align-items: center
		&__icon
			margin-top: 60px
			width: 380px
		&__name
			font-size: 30px
		&__descr
			font-size: 18px
		&__header
			font-size: 33px

@media (max-width: 425px)
	.advantages
		&__icons
			flex-direction: column
			justify-content: space-between
			align-items: center
		&__icon
			margin-top: 60px
			width: 360px
		&__name
			font-size: 28px
		&__descr
			font-size: 14px
		&__header
			font-size: 26px

@media (max-width: 375px)
	.advantages
		&__icon
			margin-top: 50px
		&__name
			font-size: 28px
		&__descr
			font-size: 14px
		&__header
			font-size: 26px

@media (max-width: 320px)
	.advantages
		&__icon
			margin-top: 50px
			width: 300px
		&__name
			font-size: 27px
		&__descr
			font-size: 14px
		&__header
			font-size: 24px
		